
body {
    background-color: white;  /* couleur arrière-plan pour le body*/
    margin: 0px;
  }
  
  h1 {
    color: black;
    text-align: center;   /* mettre le titre au centre et de couleur noir*/
  }

#a     /* element qui regroupe les bloques*/
{
    display: flex;    /* aligne les elements de maniere successive*/ 
    flex-wrap: wrap;  /* permet  faire un retour a la ligne si les elements alignés atteignent la limite*/
    width: auto;      /* mettre la largeur en auto */
    justify-content: center; /* centrer les elements de facon vertical*/
}

p:not(#affich){       /* element des bloques*/
    margin: auto;     /* les marges sont en automatique*/
    writing-mode: vertical-lr; /* permet de changer la position des element des bloques */
    margin-top: 75px;    /* permet de faire descendre les element des bloques a 75px c'est a dire au milieu*/
    font-size: 20px; /* agrandire la taille d'ecriture des elements des bloque */
    font-weight: bold; /* pour mettre en gras les ecriture*/
}
.Adama{     /* les bloque*/
    margin: 5px;   /* permet de creer une marge en dehors des bloques*/
    background-color: gray; /* couleur des arrière-plan des bloque*/
    width: 49%; /* Ici c'est la largeur des bloques à 49%*/
    height: 250px; /* Ici c'est hauteur qui est à 250px*/
    border: 1px solid black; /* les bordures des bloques en couleur noir à 1px*/
    border-radius: 10px;  /* arrondir les cotés des bloques*/
}
button{
  background-color: gray;
  border-radius: 60px;
  width: 70px;
  height: 70px;
  margin-left: 48%;
}

h2{
  text-align: center;
  color: gray;
}
#formul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#class1, #class2, #class3, #class4{
  padding: 10px;
  border-radius: 10px;
}
form{
 display: flex;
 flex-direction: column;
 width: 500px;
 background-color: grey;
 border-radius: 20px;
 padding: 20px;
}
#bouton{
  background-color: white;
  border-radius: 60px;
  width: 70px;
  height: 70px;
  margin-left: 40%;
}

#affich{
  text-align: center;
  color: black;
  font-size: 25px;
}



@media (max-width:700px) {
  #a{
    flex-direction: column;
    width: 100%;
  }
  .Adama{
    width: 100%;
    height: 50px;
  }

  p{
    writing-mode: horizontal-tb;
    margin: auto;
    text-align: center;
  }

  button{
    margin-left: 42%;
  }

  h1{
    font-size: 20px;
  }

  img{
    height: 200px;
  }

}

